<body>

    <div class="container">
      <h1>Add Your Car</h1>
      <form action="#" method="post">
        <div class="form-group">
          <label for="brand">Car Brand:</label>
          <input type="text" id="brand" name="brand" required>
        </div>
        <div class="form-group">
          <label for="model">Car Model:</label>
          <input type="text" id="model" name="model" required>
        </div>
        <div class="form-group">
          <label for="year">Car Year:</label>
          <input type="text" id="year" name="year" required>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" name="imageUrl" required>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" rows="2" required></textarea>
        </div>
        <button type="submit" class="btn-add-car">Add Car</button>
      </form>
    </div>
    
    </body>